@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import "base/Main.css";

    @import "base/Header.css";
    @import "base/Forms.css";
}

@layer components {
    @import "components/helpers/IconAndText.css";

    @import "components/servers/Browser.css";
    @import "components/servers/Row.css";
    @import "components/servers/Graph.css";
    @import "components/servers/filters/Main.css";
    @import "components/servers/filters/Platforms.css";
    @import "components/servers/filters/Categories.css";
    @import "components/servers/filters/Regions.css";

    @import "components/platforms/Main.css";
    @import "components/platforms/Row.css";

    @import "components/Content.css";
    @import "components/Background.css";
    @import "components/Buttons.css";
    @import "components/Markdown.css";
    @import "components/GamePlayer.css";
}