.server-row-col {
    @apply bg-gradient-to-b;
    @apply from-slate-800/70;
    @apply to-slate-900/70;

    @apply ring-4;
    @apply ring-cyan-950/70;
    @apply hover:ring-cyan-900/70;
    @apply duration-150;

    @apply rounded-md;
    @apply p-2;

    @apply grid;
    @apply grid-cols-12;
    @apply auto-cols-auto;

    & > div {
        @apply flex;
        @apply items-center;
    }
}

.server-row-table {
    @apply bg-gradient-to-b;
    @apply from-slate-800/70;
    @apply to-slate-900/70;
    
    @apply border-separate;
    @apply rounded-lg;

    &:first-child {
        @apply border-t-2;
    }

    @apply border-b-2;
    @apply border-cyan-950/70;

    & td {
        @apply text-sm;
        @apply p-1;

        &:nth-child(2) {
            & img {
                @apply mx-auto;
            }
        }

        &:nth-child(3) {
            & img {
                @apply mx-auto;
            }
        }

        &:last-child {
            & > div {
                @apply flex;
                @apply flex-wrap;
                @apply gap-2;
                @apply justify-center;
                @apply items-center;
            }
        }
    }

    &:hover {
        @apply duration-150;
        @apply from-slate-700/70;
        @apply to-slate-800/70;

        @apply border-cyan-900/70;
    }
}

.server-row-full {
    @apply bg-gradient-to-b;
    @apply from-slate-700/70;
    @apply to-slate-800/70;
}