@keyframes logo-slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes logo-slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

header {
    @apply p-4;
    @apply bg-slate-900/60;
    @apply z-10;

    & nav {
        @apply grid;
        @apply grid-cols-6;
        @apply gap-4;
        @apply items-center;

        & .logo {
            @apply relative;
            @apply col-span-2;
    
            & h1 {
                @apply text-5xl;
            }
    
            & ul {
                @apply absolute;
                @apply z-0;
    
                @apply bg-black;
                @apply min-w-[200%];
    
                & li > a {
                    @apply p-6;
                }
            }
        }

        & > a {
            @apply duration-150;
            @apply opacity-80;
            @apply hover:opacity-100;
        }
    }

}