@keyframes logo-slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes logo-slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

header {
    @apply p-2;
    @apply bg-slate-900/60;
    @apply z-10;
    @apply w-full;
    

    &:is(.fixed):hover {
        @apply duration-500;
        @apply bg-slate-900;
    }

    & nav {
        @apply flex;
        @apply flex-wrap;
        @apply gap-6;
        @apply items-center;

        & .logo {
            @apply relative;
            @apply w-80;
    
            & h2 {
                font-family: "Black Ops One", sans-serif;
                @apply text-3xl;
            }
    
            & ul {
                @apply absolute;
                @apply z-0;
    
                @apply bg-black;
                @apply min-w-[200%];
    
                & li > a {
                    @apply p-6;
                }
            }
        }

        & > a {
            @apply text-lg;
            @apply duration-150;
            @apply opacity-80;
            @apply hover:opacity-100;
            @apply font-bold;
            @apply font-gruppo;

            &:is(.nav-active) {
                @apply opacity-100;
            }
        }
    }

}